/data/staging/ALDI City - Google Maps_files/
/data/staging/ALDI Moonee Ponds - Google Maps_files/
/data/staging/ALDI St Kilda - Google Maps_files/
/data/staging/aldi-productreview-com-au-page-10_files/
/data/staging/coles-supermarkets-productreview-com-au-page-10_files/
/data/staging/productreview-com-au/
/data/staging/woolworths-physical-store-productreview-com-au-page-10_files/
/data/staging/ALDI City - Google Maps.html
/data/staging/ALDI Moonee Ponds - Google Maps.html
/data/staging/ALDI St Kilda - Google Maps.html
/data/staging/aldi-100-market-google-reviews.html
/data/staging/aldi-st-kilda-google-reviews.html
